aiogram==2.10.1
aiohttp==3.6.2
aioredis==1.3.1
async-timeout==3.0.1
attrs==20.3.0
Babel==2.8.0
celluloid==0.2.0
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
cycler==0.10.0
emoji==0.6.0
Flask==1.1.2
hiredis==1.1.0
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.2
kiwisolver==1.2.0
lxml==4.6.1
MarkupSafe==1.1.1
matplotlib==3.3.2
mpmath==1.1.0
multidict==4.7.6
numpy==1.19.2
pandas==1.1.4
Pillow==8.0.0
PyOpenGL @ file:///C:/Users/%D0%90%D0%BB%D0%B5%D0%BA%D1%81%D0%B0%D0%BD%D0%B4%D1%80%D0%B0/Desktop/Uni/2%D0%BA1%D1%81/%D0%9F%D0%9C/%D0%9F%D1%801/PyOpenGL-3.1.5-cp38-cp38-win_amd64.whl
pyparsing==2.4.7
python-dateutil==2.8.1
python-dotenv==0.15.0
pytz==2020.4
requests==2.24.0
scipy==1.5.3
seaborn==0.11.0
six==1.15.0
sympy==1.6.2
typing-extensions==3.7.4.3
urllib3==1.25.11
Werkzeug==1.0.1
xlrd==1.2.0
yarl==1.6.2
